# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/

# Virtual environment
venv/
ENV/
.env
.env.*

# macOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Database
*.sqlite3
*.db

# System
Thumbs.db 